.form{
 /* padding:black 5px 5px; */
 width:30vw;
 height:30vw;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
.plus {
  width:30vw;
  height:30vw;
  background-position: center center;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-image: url("https://static.thenounproject.com/png/2453491-200.png");
  
}

